
  <a
    routerLink="/home"
  >
IMDB Store
  </a>
  <div >
    <a routerLink="/home" >Home</a>
    <a routerLink="/movies" >Movies</a>
    <a
      routerLink="/cart"
    >
 Cart
    </a>
    <button (click)="onLogout()">
      Logout
    </button>
  </div>

<!-- Header -->
<div >
  <div class="container">
    <h1 >Payment Information</h1>
  </div>
</div>

<div >
  <div >
    <div>
      <form (ngSubmit)="onSubmit()">
        <div >
          <label
            for="firstName"
          >
            First Name
          </label>
          <input
            id="firstName"
            type="text"
            [(ngModel)]="payment.firstName"
            name="firstName"
            required
            placeholder="John"
          />
        </div>

        <div >
          <label
            for="lastName"
          >
            Last Name
          </label>
          <input
            id="lastName"
            type="text"
            [(ngModel)]="payment.lastName"
            name="lastName"
            required
            placeholder="Doe"
          />
        </div>

        <div>
          <label
            for="cardNumber"
          >
            Card Number
          </label>
          <input
            id="cardNumber"
            type="text"
            [(ngModel)]="payment.cardNumber"
            name="cardNumber"
            required
            placeholder="1234567890"
          />
        </div>

        <div >
          <label
            for="expiration"
          >
            Expiration Date
          </label>
          <input
            id="expiration"
            type="date"
            [(ngModel)]="payment.expiration"
            name="expiration"
            required
          />
        </div>
        <div
          *ngIf="errorMessage"
        >
          {{ errorMessage }}
        </div>

        <div >
          <button
            type="submit"
          >
            Confirm Payment
          </button>
          <a routerLink="/cart">Back</a>
        </div>
      </form>
    </div>
  </div>
</div>
